# Maven
target/

# Salidas locales
out/
build/

# Archivos compilados y paquetes
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Registros
*.log
hs_err_pid*

# IDEs y editores
.classpath
.project
.settings/
.idea/
.vscode/

# Sistema operativo
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.TemporaryItems
.Trashes
